---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <script>
    window.dataLayer = window.dataLayer || [];
  </script>

  <body>
    <main>{% include anchor_headings.html html=content anchorBody="#" %}</main>

    <script>
      function setTheme(theme) {
        if (theme === "dark") {
          document.documentElement.setAttribute("data-theme", "dark");
          window.localStorage.setItem("theme", "dark");
          document.getElementById("theme-toggle").classList.add("sun");
          document.getElementById("theme-toggle").classList.remove("moon");
        } else {
          document.documentElement.setAttribute("data-theme", "light");
          window.localStorage.setItem("theme", "light");
          document.getElementById("theme-toggle").classList.add("moon");
          document.getElementById("theme-toggle").classList.remove("sun");
        }
      }

      let theme = localStorage.getItem("theme");

      theme =
        theme ||
        (window.matchMedia
          ? window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light"
          : "light");

      setTheme(theme);

      function modeSwitcher() {
        let currentMode = document.documentElement.getAttribute("data-theme");

        if (currentMode === "dark") {
          setTheme("light");
        } else {
          setTheme("dark");
        }
      }
    </script>
  </body>

  <footer class="social-footer">
    <div class="social-footer-icons">
      <a
        href="https://github.com/eugeneromero"
        title="Github"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-github" aria-hidden="true"></i
      ></a>

      <a
        href="https://twitter.com/theEugeneRomero"
        title="Twitter"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-twitter" aria-hidden="true"></i
      ></a>

      <a
        href="{{site.url}}{{ site.baseurl }}/atom.xml"
        title="RSS"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-rss" aria-hidden="true"></i
      ></a>
    </div>
  </footer>

  {% if page.url == '/' %}
  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/1.0.0/lunr.min.js"
    integrity="sha512-c0gfTQFunqkbrbIC8XU4qJ57iA0R8SLZ9F39e33DUHVOa50kVv1QyYSUVCK9gb/AoBoJBlIc6prk7SbahLxy1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  {% include search.html %} {% endif %}
</html>
